
.graph {
    display: block;
    height: 400px;
    background: #f6f6f6;
    z-index: 55;
    position: relative;
}

.graph .wrap-column {
    display: block;
    position: relative;
    height: 400px;
    float: left;
}

.graph .wrap-column .wrap-column__inner {
    position: absolute;
    bottom: 0;
    left: 2em;
}

.graph .mean-pension {
    width: 12em;
}

.graph .mean-pension .column-title {
    color: #6e6e6e;
    font-size: 1em;
    line-height: 1em;
    position: relative;
    font-family: verdana, sans-serif;
    padding-bottom: 15px;
    display: block;
}

.graph .mean-pension .column-title strong {
    color: #000000;
    font-size: 1.4em;
    line-height: 1.5em;
    display: block;
}

.graph .mean-pension .column1 {
    width: 6em;
    height: 70px;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ExYTFhMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2JkYmRiZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: linear-gradient(left, #a1a1a1 0%, #bdbdbd 100%);
    position: relative;
    -webkit-transition: height 0.4s ease;
    -webkit-transition-delay: 0s;
    -moz-transition: height 0.4s ease 0s;
    -o-transition: height 0.4s ease 0s;
    transition: height 0.4s ease 0s;
    -webkit-border-radius: 0px 0px 0 0;
    -moz-border-radius: 0px 0px 0 0;
    -ms-border-radius: 0px 0px 0 0;
    -o-border-radius: 0px 0px 0 0;
    border-radius: 0px 0px 0 0;
}

.graph .total-pension {
    width: 16em;
}

.graph .total-pension .wrap-column__inner {
    left: 0;
}

.graph .total-pension .column-title {
    color: #20aa5e;
    font-size: 0.9em;
    line-height: 17px;
}

.graph .total-pension .column-title strong {
    font-size: 1.8em;
    line-height: 1.5em;
    display: block;
}

.graph .total-pension .current {
    display: inline-block;
    height: 42px;
    font-family: verdana, sans-serif;
    font-size: 0.93em;
    line-height: 16px;
    background: #ffffff;
    color: #595959;
    z-index: 41;
    position: absolute;
    top: 17%;
    left: 105px;
    padding: 7px 10px 0 10px;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    -webkit-box-shadow: 0 0 3px 2px #d4d4d4;
    -moz-box-shadow: 0 0 3px 2px #d4d4d4;
    box-shadow: 0 0 3px 2px #d4d4d4;
}

.graph .total-pension .current:after {
    display: block;
    position: absolute;
    top: -3px;
    left: -21px;
    background: url('../img/icons-s98d141bccb.png') 0 0 no-repeat;
    width: 21px;
    height: 57px;
    content: '';
}

.graph .total-pension .current:hover {
    z-index: 55;
}

.graph .total-pension .column2 {
    -webkit-border-radius: 0px 0px 0 0;
    -moz-border-radius: 0px 0px 0 0;
    -ms-border-radius: 0px 0px 0 0;
    -o-border-radius: 0px 0px 0 0;
    border-radius: 0px 0px 0 0;
    z-index: 30;
    width: 6em;
    height: 56px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlYmIwNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmY2UwMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #00a4d6), color-stop(100%, #00a4d6));
    background: -webkit-linear-gradient(left, #00a4d6 0%, #00a4d6 100%);
    background: -moz-linear-gradient(left, #00a4d6 0%, #00a4d6 100%);
    background: -o-linear-gradient(left, #00a4d6 0%, #00a4d6 100%);
    background: linear-gradient(left, #00a4d6 0%, #00a4d6 100%);
    -webkit-transition: height 0.4s ease;
    -webkit-transition-delay: 0s;
    -moz-transition: height 0.4s ease 0s;
    -o-transition: height 0.4s ease 0s;
    transition: height 0.4s ease 0s;
}

.graph .total-pension .column2 .current {
    width: 145px;
    top: -7px;
}

.graph .total-pension .column3 {
    -webkit-border-radius: 0px 0px 0 0;
    -moz-border-radius: 0px 0px 0 0;
    -ms-border-radius: 0px 0px 0 0;
    -o-border-radius: 0px 0px 0 0;
    border-radius: 0px 0px 0 0;
    z-index: 40;
    width: 6em;
    height: 28px;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmODkxMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VlODkxMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #007ca2), color-stop(100%, #007ca2));
    background: -webkit-linear-gradient(left, #007ca2 0%, #007ca2 100%);
    background: -moz-linear-gradient(left, #007ca2 0%, #007ca2 100%);
    background: -o-linear-gradient(left, #007ca2 0%, #007ca2 100%);
    background: linear-gradient(left, #007ca2 0%, #007ca2 100%);
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transition: height 0.4s ease;
    -webkit-transition-delay: 0s;
    -moz-transition: height 0.4s ease 0s;
    -o-transition: height 0.4s ease 0s;
    transition: height 0.4s ease 0s;
}

.graph .total-pension .column3 .current {
    z-index: 20;
    width: 115px;
    top: -7px;
}

.graph .total-pension .column4 {
    -webkit-border-radius: 0px 0px 0 0;
    -moz-border-radius: 0px 0px 0 0;
    -ms-border-radius: 0px 0px 0 0;
    -o-border-radius: 0px 0px 0 0;
    border-radius: 0px 0px 0 0;
    z-index: 20;
    width: 6em;
    height: 50px;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg0MzZBNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzZBMkI4NCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+');
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #20aa5e), color-stop(100%, #20aa5e));
    background: -webkit-linear-gradient(left, #20aa5e 0%, #20aa5e 100%);
    background: -moz-linear-gradient(left, #20aa5e 0%, #20aa5e 100%);
    background: -o-linear-gradient(left, #20aa5e 0%, #20aa5e 100%);
    background: linear-gradient(left, #20aa5e 0%, #20aa5e 100%);
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transition: height 0.4s ease;
    -webkit-transition-delay: 0s;
    -moz-transition: height 0.4s ease 0s;
    -o-transition: height 0.4s ease 0s;
    transition: height 0.4s ease 0s;
}

.graph .total-pension .column4 .current {
    z-index: 30;
    width: 135px;
    top: -7px;
}

.graph .total-pension .column5 {
    -webkit-border-radius: 0px 0px 0 0;
    -moz-border-radius: 0px 0px 0 0;
    -ms-border-radius: 0px 0px 0 0;
    -o-border-radius: 0px 0px 0 0;
    border-radius: 0px 0px 0 0;
    z-index: 10;
    width: 6em;
    height: 50px;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg0MzZBNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzZBMkI4NCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+');
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #20aa5e), color-stop(100%, #20aa5e));
    background: -webkit-linear-gradient(left, #20aa5e 0%, #20aa5e 100%);
    background: -moz-linear-gradient(left, #20aa5e 0%, #20aa5e 100%);
    background: -o-linear-gradient(left, #20aa5e 0%, #20aa5e 100%);
    background: linear-gradient(left, #20aa5e 0%, #20aa5e 100%);
    -webkit-transition: height 0.4s ease;
    -webkit-transition-delay: 0s;
    -moz-transition: height 0.4s ease 0s;
    -o-transition: height 0.4s ease 0s;
    transition: height 0.4s ease 0s;
}

.graph .total-pension .column5 .current {
    z-index: 40;
    width: 135px;
    top: -7px;
}

.graph .legend {
    display: inline-block;
    font-family: verdana, sans-serif;
    font-size: 0.8em;
    line-height: 1em;
    color: #595959;
    z-index: 41;
    position: absolute;
    top: 25%;
    left: 60%;
    width: 150px;
    line-height: 1em;
}

.graph .legend .current_acc {
    width: 142px;
    float: left;
    font-family: verdana, sans-serif;
    font-size: 0.9em;
    line-height: 16px;
    color: #000000;
    z-index: 41;
    top: 17%;
    left: 105px;
    margin: 4px 0 0 0;
    float: left;
}

.graph .legend .current_ins {
    width: 142px;
    float: left;
    font-family: verdana, sans-serif;
    font-size: 0.9em;
    line-height: 16px;
    color: #000000;
    z-index: 41;
    top: 17%;
    left: 105px;
    margin: 4px 0 0 0;
    float: left;
}

.graph .legend .current_sof {
    width: 142px;
    float: left;
    font-family: verdana, sans-serif;
    font-size: 0.9em;
    line-height: 16px;
    color: #000000;
    z-index: 41;
    top: 17%;
    left: 105px;
    margin: 4px 0 0 0;
    float: left;
}

.graph .legend .current_npo {
    width: 175px;
    float: left;
    font-family: verdana, sans-serif;
    font-size: 0.9em;
    line-height: 16px;
    color: #000000;
    z-index: 41;
    top: 17%;
    left: 105px;
    margin: 4px 0 0 0;
    float: left;
    line-height: 1em
}

.graph .legend .current_acc .ico {
    float: left;
    background-color: #00a4d6;
    margin-right: 5px;
    width: 16px;
    height: 32px;
    -webkit-border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0 0px 0px 0;
    -ms-border-radius: 0px 0px 0px 0px;
    -o-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    float: left;
}

.graph .legend .current_ins .ico {
    float: left;
    background-color: #007ca2;
    margin-right: 5px;
    width: 16px;
    height: 32px;
    -webkit-border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0 0px 0px 0;
    -ms-border-radius: 0px 0px 0px 0px;
    -o-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    float: left;
}

.graph .legend .current_sof .ico {
    float: left;
    background-color: #20aa5e;
    margin-right: 5px;
    width: 16px;
    height: 32px;
    -webkit-border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0 0px 0px 0;
    -ms-border-radius: 0px 0px 0px 0px;
    -o-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    float: left;
}

.graph .legend .current_npo .ico {
    float: left;
    background-color: #20aa5e;
    margin-right: 5px;
    width: 16px;
    height: 32px;
    -webkit-border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0 0px 0px 0;
    -ms-border-radius: 0px 0px 0px 0px;
    -o-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    float: left;
}

.graph .legend .sum {
    float: left;
    margin-right: 5px;
}
