.pension-calculator {

    @import "_graph";
    @import "_slider";
    .user-type {
        position: absolute;
        visibility: hidden;
        z-index: -1;
        opacity: 0;
    }
    @media screen and (min-width: 1366px) {
        display: flex;
    }
    box-sizing: border-box;
    padding: 20px;
    @media screen and (min-width: 968px) {
        padding: 62px 20px 62px 62px;
    }
    &__left-side {
        @media screen and (min-width: 1366px) { 
            width: 60%;
        }
        @media screen and (min-width: 2046px) { 
            width: 47.5%;
        }
    }
    &__right-side {
        position: relative;
        @media screen and (min-width: 1366px) { 
            width: 40%;
        }
        padding-left: 0;
        box-sizing: border-box;
        @media screen and (min-width: 1366px) {
            padding-left: 46px;
        }
        @media screen and (min-width: 2046px) {
            padding-left: 146px;
            width: 52.5%;
        }
    }
    &__section {
        margin-bottom: 42px;
        @media screen and (min-width: 968px) { 
            margin-bottom: 80px;
        }
    }
    &__title, &__row-label {
        @extend %text;
        font-weight: 700;
    }
    &__title {
        font-size: 32px;
        margin-bottom: 28px;
        @media screen and (min-width: 968px) { 
            margin-bottom: 66px;
        }
        line-height: 1.5;
        box-sizing: border-box;
        &--sm {
            font-size: 24px;
            padding-top: 8px;
            @media screen and (min-width: 1366px) {
                margin-bottom: 142px;
            }
        }
    }
    &__radio-group {
        max-width: 215px;
    }
    &__radio-group, &__slider-block {
        @media screen and (min-width: 968px) { 
            width: calc(100% - #{160px + 132px});
        }
        @media screen and (min-width: 1706px) {
            width: 262px;
            max-width: 262px;
        }
    }
    &__radio-group {
        display: flex;
        justify-content: space-between;
    }
    &__row {
        position: relative;
        box-sizing: border-box;
        padding-right: #{88px + 10px};
        @media screen and (min-width: 400px) { 
            padding-right: #{132px + 20px};
        }
        @media screen and (min-width: 968px) {
            padding-right: 0;
            display: flex;
            align-items: end;
        }
        margin-bottom: 63px;
        position: relative;
        &:last-of-type {
            margin-bottom: 0;
        }
        &-label {
            display: inline-block;
            font-size: 16px;
            margin-bottom: 20px;
            @media screen and (min-width: 968px) {  
                width: 160px;
                padding-right: 20px;
                margin-bottom: 0;
            }
            @media screen and (min-width: 1706px) {
                padding-right: 58px;
                width: 238px;
            }
            box-sizing: border-box;

            align-self: flex-end;
            &--star {
                &:after {
                    content: '*';
                    color: #ff8a00;
                }
            }
        }
    }
    &__checkbox {
        display: block;
    }
    &__radio {
        // display: block$i;
        // @media screen and (min-width: 1706px) {
        //     display: inline-block$i;
        // }
    }
    &__slider-block {
        margin-bottom: 10px;
        @media screen and (min-width: 968px) {
            margin-bottom: 0;
            transform: translateY(100%);
        }
    }
    &__slider {
        margin-bottom: 10px;
        &-numbers {
            display: flex;
            justify-content: space-between;
        }
        &-min, &-middle, &-max {
            @extend %text;
        } 
    }
    &__input-block {
        position: absolute;
        right: 0;
        top: 0;
        box-sizing: border-box;
        display: inline-block;
        width: 88px;
        text-align: right;
        @media screen and (min-width: 400px) { 
            width: 132px;
            text-align: left;
        }

        @media screen and (min-width: 968px) { 
            padding-left: 40px;
            position: relative;
        }
        @media screen and (min-width: 1706px) {
            width: 180px;
        }
        .pension-calculator__checkbox {
            position: absolute;
            bottom: -25px;
            @media screen and (min-width: 968px) {  
                left: 40px;
            }
        }
    }
    &__input {
        display: inline-block;
        width: 100%;
        @media screen and (min-width: 1706px) {
            width: 140px;
        }
        border-width: 1px;
        border-color: #c7c7c7;
        border-style: solid;
        border-radius: 6px;
        background-color: white;
        height: 32px;
        line-height: 32px;
        padding-left: 14px;
        padding-right: 14px;
        display: inline-block;
        box-sizing: border-box;
        font-size: 16px;
        @extend %text;
        &--sm {
            width: 70px;
        }
        &--xs {
            width: 50px;
        }
        &:disabled, &:read-only {
            background-color: rgba(224, 224, 224, 0.3);
        }      
    }
}
.pension-calculator-radio {
    user-select: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding-left: 32px;
    margin-right: 8px;
    &__text {
        display: inline-block;
        box-sizing: border-box;
        @extend %text;
        color: $BLACK;
        font-size: 14px;
        @media screen and (min-width: 1706px) {
            font-size: 16px;
        }
        &:before, &:after {
            content: '';
            position: absolute;
            display: block;
        }
        &:before {
            left: 0;
            right: 0;
            border: 1px solid #e0e0e0;
            width: 19px;
            height: 19px;
            border-radius: 19px;
            z-index: 1;
        }
        &:after {
            display: none;
            background-color: $GREEN;
            width: 11px;
            height: 11px;
            border-radius: 11px;
            z-index: 2;
            left: 5px;
            top: 5px;
        }
    }
    &__input {
        position: absolute;
        visibility: hidden;
        z-index: -1;
        opacity: 0;
    }
    &__input:checked ~ .pension-calculator-radio__text {
        &:after {
            display: block;
        }
    }
}
.pension-calculator-checkbox {
    position: relative;
    user-select: none;
    cursor: pointer;
    &__input {
        visibility: hidden;
        position: absolute;
        z-index: -1;
    }
    &__text {
        @extend %text;
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        padding-left: 26px;
        font-size: 14px;
        color:  $BLACK;
        &:before {
            content: '';
            display: inline-block;
            box-sizing: border-box;
            position: absolute;
            left: 0;
            top: 0;
            width: 16px;
            height: 16px;
            border: 1px solid $GRAY;
            border-radius: 2px;
        }
    }
    &__input:checked ~ .pension-calculator-checkbox__text {
        &:before {
            border: none;
            @include makeSprite(16px, 16px, 'spr-ckbx-checked.png');
        }
    }
}