.b-recovery-form {
    margin-top: 40px;
    max-width: 540px;
    padding: 56px 70px 46px 70px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 19.799px 19.799px 40px 0px rgba(0, 0, 0, 0.1)$i;
    .t-Login-header {
        padding: 0$i;
        margin-bottom: 60px$i;
    }
    .t-Form-inputContainer {
        position: relative;
    }
    .t-Form-fieldContainer {
        &:first-child {
            margin-bottom: 39px;
        }
        margin-bottom: 17px;
    }
    .t-Form-error {
        padding-top: 8px$i;
        font-family: 'Montserrat', sans-serif$i;
        font-size: 10px$i;
    }
    .t-Login-title {
        margin: 0;
    }
    .text_field, .password {
        @extend %form-input;
    }
    .b-green-button {
        margin-top: 10px;
    }
    .b-green-button, .b-yellow-button {
        margin-bottom: 20px;
    }
    .t-Login-links {
        margin-top: 5px;
    }

    .apex-item-checkbox {
        position: relative;
        input {
            visibility: hidden;
            position: absolute;
            z-index: -1;
        }
        label {
            position: relative;
            display: inline-block;
            box-sizing: border-box;
            padding-left: 32px;
            font-size: 10px;
            color:  $GRAY;
            font-family: 'Montserrat', sans-serif$i;
            font-weight: 300;
            &:before {
                content: '';
                display: inline-block;
                box-sizing: border-box;
                position: absolute;
                left: 0;
                top: 0;
                width: 16px;
                height: 16px;
                border: 1px solid $GRAY;
                border-radius: 2px;
            }
        }
        input:checked ~ label {
            &:before {
                border: none;
                @include makeSprite(16px, 16px, 'spr-ckbx-checked.png');
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        text-align: center;
    }
    &__link-left {
        margin-right: 43px;
        margin-bottom: 8px;
        margin-left: 23px;
    }
}

@include mobile {
    .t-Login-title {
        font-size: 16px;
    }
    .b-recovery-form  {
        margin-top: 23px;
        padding: 0 30px 46px 30px;
        background: transparent;
        box-shadow: none$i;
        .text_field {
            text-align: center;
        }
        .t-Login-links + .container {
            .row .col {
                margin-top: 8px$i;
            }
        }
        .t-Form-fieldContainer {
            &:first-child {
                margin-bottom: 0;
            }
            margin-bottom: 8px;
        }
        .text_field, .password {
            border-bottom: 1px solid;
        }
        .t-Login-header {
            margin-bottom: 33px$i;
        }
        .t-Form-inputContainer {
            padding: 0 0 1.4rem;
        }
        .t-Form-error {
            text-align: center;
        }
        .b-green-button {
            margin-top: 24px;
        }
        .b-green-button, .b-yellow-button {
            height: 44px;
            line-height: 42px;
            font-size: 14px;
        }
        &__bottom {
            flex-direction: column;
            justify-content: center;
        }
        &__link-left {
            margin-right: 0;
            margin-left: 0;
            margin-bottom: 19px;
        }
        &__link-left, &__link-right {
            font-size: 12px;
        }
    }
}