.b-body {
    &--lk {
        .b-header__phone {
            display: none;
            @media screen and (min-width: 1145px) {
                display: inline-block;
            }
        }
        .t-Body-topButton {
            display: none$i;
        }
    }
}
.b-lk-content {
    display: flex;
    &__navigation, &__main {
        padding-top: 50px;
    }
    &__navigation {
        box-sizing: border-box;
        padding-right: 20px;
        width: 418px;
        padding-bottom: 40px;
        @media screen and (max-width: 1366px) {
            width: 35%;
        }
    }
    &__main {
        width: calc(100% - 418px);
        @media screen and (max-width: 1366px) {
            width: 65%;
        }
    }
}

@include tablet {
    .b-lk-content {
        &__navigation {
            width: 40%;
        }
        &__main {
            width: 60%;
        }
    }
}

@include mobile {
    .b-body {
        &--lk {
            padding-top: 0;
        }
    }
    .b-lk-content {
        &__navigation {
            width: auto;
            padding-top: 20px;
        }
        &__main {
            width: 100%;
            padding-top: 0;
        }
    } 
}