.b-body {
    &--lk {
        form#wwvFlowForm {
            min-height: 0px;
            position: relative;
            padding-bottom: 106px;
            @media screen and (min-width: 768px) {
                min-height: calc(100vh - 218px);
            }
            @media screen and (min-width: 1480px) {
                min-height: calc(100vh - 40px);
            }
        }
        .b-header__phone {
            display: none;
            @media screen and (min-width: 1328px) {
                display: inline-block;
            }
        }
        .b-header__logo {
            @media screen and (max-width: 1455px) {
                margin-right: 28px$i;
            }
            @media screen and (max-width: 767px) {
                margin-right: 0$i;
            }
        }
        .t-Body-topButton {
            display: none$i;
        }
    }
}
.b-lk-content {
    display: flex;
    align-items: flex-start;
    .container, .row {
        overflow: visible$i;
    }
    &__main {
        margin-top: 50px$i;
    }
    &__navigation {
        padding-top: 50px;
        box-sizing: border-box;
        padding-right: 20px;
        width: 418px;
        padding-bottom: 40px;
        @media screen and (max-width: 1366px) {
            width: 35%;
        }
    }
    &__main {
        display: block;
        box-sizing: border-box;
        background-color: #FFF;
        border-radius: 5px;
        box-shadow: 19.799px 19.799px 40px 0px rgba(0, 0, 0, 0.1);
        width: calc(100% - #{418px + 30px});
        @media screen and (max-width: 1366px) {
            width: 65%;
        }
    }
    &__footer {

    }
}
.b-lk-footer {
    height: 86px;
    position: absolute;
    bottom: 0;
    right: 0;
    @media screen and (min-width: 1367px) {
        right: 29px;  
    }
    display: flex$i;
    align-items: center;
    &__text {
        @extend %text;
        display: block;
        font-size: 12px;
        margin-bottom: 8px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    &__left {
        text-align: right;
        margin-right: 20px;
    }
    &__right {

    }
}

@include tablet {
    .b-lk-content {
        &__navigation {
            width: 40%;
        }
        &__main {
            width: 60%;
        }
    }
}

@include mobile {
    .b-body {
        &--lk {
            padding-top: 0;
        }
    }
    .b-lk-content {
        &__navigation {
            width: auto;
            padding-top: 20px;
        }
        &__main {
            width: 100%;
            margin-top: 0$i;
        }
    } 
}