.t-PageBody--login {
    .t-Form--stretchInputs .t-Form-fieldContainer .t-Form-inputContainer, .t-Form-fieldContainer--stretchInputs .t-Form-inputContainer  {
        display: block$i;
    }
    .t-Login-title {
        font-family: 'Montserrat', sans-serif$i;
        font-weight: 600$i;
        font-size: 24px;
    }
    .b-yellow-button, .b-green-button {
        width: 100%;
    }
    @import "_form-login.scss";
    @import "_form-register.scss";
    @import "_form-recovery.scss";
}
@include mobile {
    .t-PageBody--login {
        padding: 0 20px;
        .t-Login-title {
            font-size: 16px;
        }
        .b-login-form {

            background: transparent;
            box-shadow: none$i;
            .text_field, .password {
                border-bottom: 1px solid;
            }
            .t-Login-header {
                margin-bottom: 33px$i;
            }
            .t-Form-inputContainer {
                padding-bottom: 12px$i;
            }
            .t-Form-error {
                text-align: center;
            }
        }
        /*.b-login-form {
            padding: 0 30px 46px 30px;
            display: block;
            .b-green-button {
                max-width: 100%$i;
                height: 40px$i;
                line-height: 40px$i;
                font-size: 14px$i;
            }
            &__bottom {
                flex-direction: column;
                justify-content: center;
            }
            &__link-left {
                margin-right: 0;
                margin-bottom: 26px;
            }
            &__link-left, &__link-right {
                font-size: 14px;
            }
            .t-Form-inputContainer {
                padding-bottom: 10px$i;
            }
            .t-Login-body {
                .t-Form-fieldContainer {
                    &:last-of-type {
                        .t-Form-inputContainer {
                            padding-bottom: 10px$i;
                        } 
                    }
                }
            }
            .t-Login-buttons {
                margin-top: 37px;
            }
            &__left {
                width: 100%;
                padding: 0;
            }
            &__right {
                display: none;
            }
        }*/

    }
}