.b-about-content {
	box-sizing: border-box;
	&__about-text {
		box-sizing: border-box;
		padding: 20px;
		margin-bottom: 62px;
		@media screen and (min-width: 768px) {
			padding: 62px;
		}
	}
	&__title-h1 {
		margin-bottom: 50px;
	}
	&__text {
		line-height: 1.5;
		padding-bottom: 60px;
		border-bottom: 2px solid #e0e0e0;
		margin-bottom: 48px;
	}
	&__item {
		padding-right: 18px;
		box-sizing: border-box;
		display: block;
		width: 100%;
		margin-bottom: 30px;
		@media screen and (min-width: 1366px) {
			width: 50%;
			margin-bottom: 0;
		}
	}
	&__item-title {
		display: block;
		@extend %text;
		font-size: 32px;
		@media screen and (min-width: 1450px) {
			font-size: 40px;
		}
		color: #7ac80c;
		line-height: 1.2;
		margin-bottom: 8px;
		.ic-ruble {
			font-style: normal;
		}
	}
	&__item-text {
		@extend %text;
		font-size: 16px;
		line-height: 1.5;
	}
	&__grid {
		@media screen and (min-width: 768px) {
			max-width: 849px;
		}
		&-row {
			@media screen and (min-width: 1366px) {
				display: flex;
				justify-content: space-between;
				margin-bottom: 50px;
			}
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}
.b-download-pdfs {
	@media screen and (min-width: 768px) {
		display: flex;
	}
	&__item {
		width: 100%;
		max-width: 100%;
		box-sizing: border-box;
		padding: 20px;
		background-color: #FFF;
		box-shadow: 19.799px 19.799px 40px 0px rgba(0, 0, 0, 0.1);
		border-radius: 5px;
		@media screen and (min-width: 768px) {
			padding: 62px;
			width: 50%;
			max-width: 426px;
		}
	}
	&--col-2 {
		.b-download-pdfs__item {
			@media screen and (min-width: 768px) {
				padding: 62px;
				width: 50%;
				max-width: 50%;
				margin-right: 28px;
				&:last-of-type {
					margin-right: 0;
				}
			}
		}	
	}
	&__file-block {
		position: relative;
		box-sizing: border-box;
		padding-left: 78px;
		min-height: 61px;
	}
	&__title {
		@extend %text;
		display: block;
		font-size: 22px;
		font-weight: 600;
		margin-bottom: 50px;
		line-height: 1.2;
		&--with-sub {
			margin-bottom: 28px;
		}
	}
	&__sub-title {
		margin-bottom: 32px;
	}
	&__file-name, &__sub-title {
		display: block;
		@extend %text;
		font-size: 18px;
	}
	&__file-name {
		margin-bottom: 18px;
		padding-top: 10px;
	}
	&__file-pdf {
		display: block;
		left: 0;
		top: 0;
		@include makeSprite(49px, 61px, 'ic_pdf.png');
		position: absolute;
	}
}