.b-header {
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 19.799px 19.799px 40px 0px rgba(0, 0, 0, 0.1);
    min-height: 132px;
    display: flex;
    position: relative;
    align-items: center;
    padding: 8px 60px 8px 50px;
    box-sizing: border-box;
    &__logout-btn {
        position: absolute;
        right: 60px;
        width: 104px;
    }
    &__user-block, &__logout-btn {
        top: 50%;
        transform: translateY(-50%);
    }
    &__logo {
        margin-right: 130px;
    }
    &__menu-btn {
        display: none;
        font-size: 0;
        -webkit-appearance: none;
        border: none;
        background-color: transparent;
    }
    &__user-block {
        position: absolute;
        right: 233px;
    }
}

@media screen and (max-width: 1366px) {
    .b-header {
        &__logo {
            margin-right: 69px;
        }
    }
}

@media screen and (max-width: 1266px) {
    .b-header {
        &__user-block {
            right: 186px;
        }
        &__logo {
            margin-right: 21px;
        }
    }
}


@include tablet {
    .b-header {
        &__logo {
            // margin-right: 16px;
        }
        &__user-block {
            display: none$i;
        }
    }
}
@include mobile { 
    .b-header  {
        position: relative;
        padding: 0;
        background: transparent;
        box-shadow: none;
        height: 91px;
        min-height: 91px;
        &__phone {
            display: none;
        }
        &__logo {
            position: absolute;
            width: 45px;
            height: 45px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-right: 0; 
        }
        &__logout-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 6px;
            width: 21px;
        }
        &__menu-btn {
            position: absolute;
            display: block;
            top: 50%;
            transform: translateY(-50%);
            left: 6px;
        }
    }
}
.b-user-block {
    min-width: 258px;
    display: flex;
    justify-content: space-between;
    &__content {
        display: flex;
        padding-right: 16px;
        align-items: center;
    }
    &__text, &__username {
        display: inline-block;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }
    &__text {
        color: $BLACK;
        margin-right: 4px;
    }
    &__username {
        color: $GREEN;
        max-width: 136px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &__image-block {
        position: relative;
        width: 55px;
        height: 55px;
        border-radius: 55px;
        overflow: hidden;
    }
    &__avatar {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }
}