.b-request-section {
    .b-request-form {
        @import "_form-resets-1";
        max-width: 690px;
    }
    padding: 20px;
    @media screen and (min-width: 768px) {
        padding: 62px;
        padding-bottom: 0; 
    }
    &__title-h1 {
        line-height: 1.2;
        margin-bottom: 62px;
    }
    .b-requests-table {
        @import "_table-resets-1";
       .t-Report-wrap {
        padding-bottom: 20px;
        @media screen and (min-width: 768px) {
            padding-bottom: 62px; 
        }
       }
    }
}