.b-request-section {
    .b-request-form {
        @import "_form-resets-1";
        max-width: 690px;
    }
    padding: 20px;
    @media screen and (min-width: 768px) {
        padding: 62px;
        padding-bottom: 0; 
    }
    &--last-form {
        padding: 20px;
        padding-top: 0;
        @media screen and (min-width: 768px) {
            padding: 62px;
            padding-top: 0;
        }   
    }
    &--sub-head {
        padding: 20px;
        padding-top: 20px;
        padding-bottom: 20px$i;
        max-width: 968px;
        @media screen and (min-width: 768px) {
            padding: 62px;
            padding-top: 46px;
            padding-bottom: 30px$i;
        } 
    }
    &__title-h1 {
        line-height: 1.2;
        margin-bottom: 62px;
    }
    .b-requests-table {
        @import "_table-resets-1";
        overflow-y: scroll;
        width: 100%; 
        .t-Report-wrap {
            min-width: 540px;
        }
       .t-Report-wrap {
        padding-bottom: 20px;
        @media screen and (min-width: 768px) {
            padding-bottom: 62px; 
        }
       }
    }
}
.request-submit-form {
    .t-Form-inputContainer {
        padding: 0;
        margin-bottom: 30px;
    }
    padding-left: 44px;
    max-width: 844px;
    .b-green-button {
        @media screen and (max-width: 480px){
            width: calc(100% - 10px);
            margin: 0 auto;
            display: block;
            font-size: 14px;
            white-space: nowrap;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .t-Form-inputContainer .textarea .textarea {
        @extend %lk-textarea;
    }
    .apex-item-textarea + .t-Form-error {

    }
}
.page-request-messages {
    .t-ButtonRegion {
        box-shadow: none$i;
        border-left-width: 0;
        border-right-width: 0;
        @media screen and (min-width: 768px) {
            padding-left: 40px;
        }
        .t-Button  {
            @extend %button-sm;
            min-width: 100px;
        }
    }
}