.t-PageBody--login {
    background-color: #f7f7f7$i;    
}
.b-body {
    box-sizing: border-box;
    &--login, &--lk {
        padding: 20px;
        width: 100%;
        // background-color: #f7f7f7;
        .b-header {

        }
    }
    &--clear-right {
        .b-lk-content__main {
            background: transparent;
            box-shadow: none;
        }
    }
}

.b-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    &--540 {
        max-width: 540px;
    }
    .container, .row {
        overflow: visible$i;
    }
}

.lo-login-wrapper {
    padding-top: 20px;
    justify-content: center;
}

@include mobile {
    .b-body {
        &--login {
            padding: 0;
            width: 100%;
        }
    }
}
.b-right-section {
    box-sizing: border-box;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 19.799px 19.799px 40px 0px rgba(0, 0, 0, 0.1);
    width: 100%;
    @media screen and (min-width: 1366px){
        width: calc(100% - 30px);
    }
}