.b-lk-navigation {
    .t-Body-nav {
        position: relative;
        top: 0$i;
        box-shadow: none$i;
        background: transparent$i;
        ul {
            background-color: transparent$i;
        }
    }
}

.b-menu {
    overflow: visible;
    width: 100%$i;
    &__list, &__sub-list {
        list-style: none;
        margin: 0;
    }
    &__list {
        margin-left: 52px;
    }
    &__list-item {
        padding-top: 22px;
        display: block;
        box-sizing: border-box;
        min-height: 66px;
        margin-bottom: 40px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    &__link {
        display: block;
        box-sizing: border-box;
        position: relative;
        padding-left: 100px;
    }
    &__icon {
        display: block;
        position: absolute;
        left: 5px;
        top: -20px;
        width: 66px;
        height: 66px;
        box-sizing: border-box;
        &:before, &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 66px;
            height: 66px;  
            border-radius: 66px;
            z-index: 1;
            background-repeat: no-repeat;

            box-sizing: border-box;
        }
        &:before {
            border: 1px solid #9f9f9f;
            z-index: 1;
        }
        &:after {
            z-index: 2;
        }
    }
    .ic_lk {
        &:after {
            background-image: url($IMAGE_PATH + 'ic_lk.svg');
            background-size: 22px;
            background-position: center;
        }

    } 
    .ic_support {
        &:after { 
            background-image: url($IMAGE_PATH + 'ic_bid.svg');
            background-size: 22px;
            background-position: center;
        }
    } 
    .ic_profile {
        &:after { 
            background-image: url($IMAGE_PATH + 'ic_profile.svg');
            background-size: 22px;
            background-position: center;
        }
    }
    .ic_bid {
        &:after { 
            background-image: url($IMAGE_PATH + 'ic_bid.svg');
            background-size: 20px;
            background-position: 25px center;
        }
    } 
    .ic_calculator {
        &:after { 
            background-image: url($IMAGE_PATH + 'ic_calculator.svg');
            background-size: 20px;
            background-position: center;
        }
    }
    .ic_about {
        &:after { 
            background-image: url($IMAGE_PATH + 'ic_about.svg');
            background-size: 22px;
            background-position: 23px center
        }
    }
    &__list-item {
        &.active {
            .b-menu__icon {
                &:before {
                    border: none;
                    background-image: -moz-linear-gradient( 118.61deg, rgb(236,163,0) 0%, rgb(254,213,0) 100%);
                    background-image: -webkit-linear-gradient( 118.61deg, rgb(236,163,0) 0%, rgb(254,213,0) 100%);
                    background-image: -ms-linear-gradient( 118.61deg, rgb(236,163,0) 0%, rgb(254,213,0) 100%);
                    box-shadow: 9.899px 9.899px 40px 0px rgba(0, 0, 0, 0.4);
                }
            } 
            .ic_lk {
                &:after {
                    background-image: url($IMAGE_PATH + 'ic_lk_active.svg');
                }

            } 
            .ic_support {
                &:after {
                    background-image: url($IMAGE_PATH + 'ic_bid_active.svg');
                }
            } 
            .ic_profile {
                &:after {
                    background-image: url($IMAGE_PATH + 'ic_profile_active.svg');
                }

            }
            .ic_bid {
                &:after {
                    background-image: url($IMAGE_PATH + 'ic_bid_active.svg');
                }
            } 
            .ic_calculator {
                &:after {
                    background-image: url($IMAGE_PATH + 'ic_calculator_active.svg');
                }

            }
            .ic_about {
                &:after {
                    background-image: url($IMAGE_PATH + 'ic_about_active.svg');
                }
            }
        }
    }

    &__sub-list {
        display: block;
        margin-left: 100px;
        padding-top: 40px;
        box-sizing: border-box;
    }
    &__sub-list-item {
        position: relative;
        padding-left: 23px;
        margin-bottom: 23px;
        &:last-of-type {
            margin-bottom: 0;
        }
        &.active {
            &:before {
                content: '';
                display: inline-block;
                position: absolute;
                top: 5px;
                left: 0;
                border-radius: 10px;
                width: 10px;
                height: 10px;
                background-image: -moz-linear-gradient( 118.61deg, rgb(236,163,0) 0%, rgb(254,213,0) 100%);
                background-image: -webkit-linear-gradient( 118.61deg, rgb(236,163,0) 0%, rgb(254,213,0) 100%);
                background-image: -ms-linear-gradient( 118.61deg, rgb(236,163,0) 0%, rgb(254,213,0) 100%);
                box-shadow: 9.899px 9.899px 40px 0px rgba(0, 0, 0, 0.4);     
            }
        }
    }
    &__link, &__sub-link {
        color:  $BLACK;
        @extend %text;
        font-weight: 600;
    }
    &__link {
        font-size: 16px;
    }
    &__sub-link {
        font-size: 14px;
    }
}

@include tablet {
    .b-menu {
        &__list {
            margin-left: 0;
        }
        &__icon {
            left: 0;
        }
    }
}

@include mobile {
    .b-lk-navigation {
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
        display: block;
        position: fixed;
        background-color: #FFF;
        width: 100%;
        height: 80%;
        @supports (height: calc(100% - 90px)){
            height: calc(100% - 90px);
        }
        bottom: 0;
        right: 0;
        opacity: 0;
        z-index: -1;
        overflow: auto;
        &.open {
            opacity: 1;
            z-index: 99999;
            transition: 0.5s;
        }
    }
    .b-menu {
        &__list-item {
            margin-bottom: 20px;
            &.active {
                // margin-bottom: 0;
            }
        }
        &__link {
            padding-left: 85px;
        }
        &__sub-list {
            margin-left: 85px;
            padding-top: 20px;
        }
    }
}