.b-title-h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 32px;
	color: #000000;
}
.b-text {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: #000000;
	margin: 0;
}
.b-text-16 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #000000;
	margin: 0;
}
.b-link {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: #113df7;
}
.b-link-16 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #113df7;
}
.b-green-link {
	color: #59ac0d;
	text-decoration: none;
	font-size: 16px;
	&:hover {
		text-decoration: underline;
	}
}