$FONT_PATH: 'https://biglkadmin.xsquare.ru/a/themes/theme_42_biglkpublic/xsquare/fonts/Montserrat/';
// '../fonts/Montserrat/';
$IMAGE_PATH: 'https://biglkadmin.xsquare.ru/a/themes/theme_42_biglkpublic/xsquare/images/';
// '../images/';

$i: !important;

//colors
$BLACK: #010101;
$GRAY: #b3b3b3;
$GREEN: #479b0d;